@font-face {
	font-family:"din";
	font-display:swap;
	src:url("../fonts/din-bold.woff2") format("woff2"),url("../fonts/din-bold.woff") format("woff");
	font-weight:700;
	font-style:normal;
}	@font-face {
	font-family:"din";
	font-display:swap;
	src:url("../fonts/din-regular.woff2") format("woff2"),url("../fonts/din-regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}	