// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
// @import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

.main-content {
  padding-top: 36px;
  background: linear-gradient(121.8deg, #013c8f 14.62%, #0085ff 128.06%);
  // background-image: url("../img/bgi.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.logo {
  width: 255px;
  height: 46px;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cards {
  padding-bottom: 53px;
  padding-top: 36px;
}

.cards-wrapper {
  height: 875px;
  display: grid;
  gap: 15px 0;
  grid-template-columns: repeat(99, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

.cards__item {
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(26, 27, 32, 0.55);
  }
  cursor: pointer;
  position: relative;
  &:nth-of-type(1) {
    grid-column: 1 / 20;
    grid-row: 1/13;
  }

  &:nth-of-type(2) {
    grid-column: 21 / 33;
    grid-row: 1/20;
  }
  &:nth-of-type(3) {
    grid-column: 34 / 69;
    grid-row: 1/11;
  }
  &:nth-of-type(4) {
    grid-column: 70 / 87;
    grid-row: 1/17;
  }
  &:nth-of-type(5) {
    grid-column: 88 / 100;
    grid-row: 1/24;
  }
  &:nth-of-type(6) {
    grid-column: 1 / 20;
    grid-row: 13/31;
  }

  &:nth-of-type(7) {
    grid-column: 21 / 33;
    grid-row: 20/31;
  }

  &:nth-of-type(8) {
    grid-column: 34 / 47;
    grid-row: 11/31;
  }

  &:nth-of-type(9) {
    grid-column: 48 / 69;
    grid-row: 11/25;
  }

  &:nth-of-type(10) {
    grid-column: 70 / 87;
    grid-row: 17/41;
  }
  &:nth-of-type(11) {
    grid-column: 88 / 100;
    grid-row: 24/41;
  }

  &:nth-of-type(12) {
    grid-column: 1 / 16;
    grid-row: 31/47;
  }
  &:nth-of-type(13) {
    grid-column: 17/47;
    grid-row: 31/43;
  }

  &:nth-of-type(14) {
    grid-column: 48/58;
    grid-row: 25/39;
  }

  &:nth-of-type(15) {
    grid-column: 59/69;
    grid-row: 25/39;
  }

  &:nth-of-type(16) {
    grid-column: 1/16;
    grid-row: 47/60;
  }

  &:nth-of-type(17) {
    grid-column: 17/28;
    grid-row: 43/60;
  }

  &:nth-of-type(18) {
    grid-column: 29/47;
    grid-row: 43/60;
  }

  &:nth-of-type(19) {
    grid-column: 48/69;
    grid-row: 39/50;
  }

  &:nth-of-type(20) {
    grid-column: 48/69;
    grid-row: 50/60;
  }

  &:nth-of-type(21) {
    grid-column: 70/100;
    grid-row: 41/60;
  }

  &:nth-of-type(1) .cards__item-images {
    background-image: url(../img/card-1.svg);
  }
  &:nth-of-type(2) .cards__item-images {
    background-image: url(../img/card-2-2.svg);
  }

  &:nth-of-type(3) .cards__item-images {
    background-image: url(../img/card-3-2.svg);
  }
  &:nth-of-type(4) .cards__item-images {
    background-image: url(../img/card-4.svg);
  }
  &:nth-of-type(5) .cards__item-images {
    background-image: url(../img/card-5-1.svg);
  }
  &:nth-of-type(6) .cards__item-images {
    background-image: url(../img/card-6-1.svg);
  }

  &:nth-of-type(7) .cards__item-images {
    background-image: url(../img/card-7.svg);
  }
  &:nth-of-type(8) .cards__item-images {
    background-image: url(../img/card-8-1.svg);
  }
  &:nth-of-type(9) .cards__item-images {
    background-image: url(../img/card-9-1.svg);
  }
  &:nth-of-type(10) .cards__item-images {
    background-image: url(../img/card-10-1.svg);
  }
  &:nth-of-type(11) .cards__item-images {
    background-image: url(../img/card-11.svg);
  }
  &:nth-of-type(12) .cards__item-images {
    background-image: url(../img/card-12.svg);
  }
  &:nth-of-type(13) .cards__item-images {
    background-image: url(../img/card-13.svg);
  }
  &:nth-of-type(14) .cards__item-images {
    background-image: url(../img/card-14.svg);
  }
  &:nth-of-type(15) .cards__item-images {
    background-image: url(../img/card-15.svg);
  }

  &:nth-of-type(17) .cards__item-images {
    background-image: url(../img/card-17-1.svg);
  }
  &:nth-of-type(18) .cards__item-images {
    background-image: url(../img/card-18.svg);
  }
  &:nth-of-type(19) .cards__item-images {
    background-image: url(../img/card-19.svg);
  }
  &:nth-of-type(20) .cards__item-images {
    background-image: url(../img/card-20-1.svg);
  }
  &:nth-of-type(21) .cards__item-images {
    background-image: url(../img/card-21.svg);
  }

  .cards__item-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #00193c 0%, #031a39 100%);
    padding: 7px 10px;
    &:before {
      z-index: 5;
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }

  &:nth-of-type(2) .cards__item-content:before {
    background-image: url(../img/heart-2.png);
    background-position: center bottom;
  }
  &:nth-of-type(3) .cards__item-content:before {
    background-image: url(../img/heart-3.png);
    background-position: 63% 82%;
  }
  &:nth-of-type(5) .cards__item-content:before {
    background-image: url(../img/heart-5.png);
    background-position: center 91%;
  }
  &:nth-of-type(6) .cards__item-content:before {
    background-image: url(../img/heart-6.png);
    background-position: 10% 90%;
  }
  &:nth-of-type(9) .cards__item-content:before {
    background-image: url(../img/heart-9.png);
    background-position: 84% 88%;
  }
  &:nth-of-type(10) .cards__item-content:before {
    background-image: url(../img/heart-10.png);
    background-position: 63% 85%;
  }
  &:nth-of-type(16) .cards__item-content:before {
    background-image: url(../img/heart-16.png);
    background-position: 111% 66%;
  }
  &:nth-of-type(18) .cards__item-content:before {
    background-image: url(../img/heart-18.png);
    background-position: 75% 100%;
  }
  &:nth-of-type(19) .cards__item-content:before {
    background-image: url(../img/heart-19.png);
    background-position: 84% 127%;
  }
  &:nth-of-type(21) .cards__item-content:before {
    background-image: url(../img/heart-21.png);
    background-position: 100% 78%;
  }

  .top-line,
  .left-line,
  .right-line,
  .bottom-line {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .top-line,
  .left-line,
  .right-line,
  .bottom-line {
    background-color: #045bd4;
    position: absolute;
    z-index: 6;
  }
  .left-line {
    left: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
  }
  .right-line {
    right: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
  }
  .bottom-line {
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .top-line {
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    .top-line,
    .left-line,
    .right-line,
    .bottom-line {
      opacity: 1;
    }
  }
  .item-content__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .cards__item-number {
    position: relative;
    z-index: 5;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #2e578c;
    margin-right: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .cards__item-winner {
    position: relative;
    z-index: 5;
    font-weight: 700;
    font-size: 12px;
    line-height: 110%;
    text-transform: uppercase;
    color: #2e578c;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &:nth-of-type(19),
  &:nth-of-type(17) {
    .item-content__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.cards__item.coming {
  .cards__item-number {
    color: #fff;
  }
  .cards__item-winner {
    display: none;
  }
  .cards__item-content {
    background: linear-gradient(176.4deg, #1319a5 -147.28%, #297efa 105.47%);
  }
  .top-line,
  .left-line,
  .right-line {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .top-line,
  .left-line,
  .right-line,
  .bottom-line {
    position: absolute;
    z-index: 3;
  }
  .left-line {
    left: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
    background-color: rgba(248, 165, 1, 1);
  }
  .right-line {
    right: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
    background-color: rgba(232, 52, 111, 1);
  }
  .bottom-line {
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      275deg,
      rgba(232, 52, 111, 1) 0%,
      rgba(248, 165, 1, 1) 100%
    );
  }
  .top-line {
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      275deg,
      rgba(232, 52, 111, 1) 0%,
      rgba(248, 165, 1, 1) 100%
    );
  }

  &:hover {
    .top-line,
    .left-line,
    .right-line {
      opacity: 1;
    }
  }

  &:nth-of-type(2) .cards__item-images {
    background-image: url(../img/card-2.svg);
  }
  &:nth-of-type(3) .cards__item-images {
    background-image: url(../img/card-3.svg);
  }
  &:nth-of-type(5) .cards__item-images {
    background-image: url(../img/card-5.svg);
  }
  &:nth-of-type(6) .cards__item-images {
    background-image: url(../img/card-6.svg);
  }

  &:nth-of-type(8) .cards__item-images {
    background-image: url(../img/card-8.svg);
  }
  &:nth-of-type(9) .cards__item-images {
    background-image: url(../img/card-9.svg);
  }
  &:nth-of-type(10) .cards__item-images {
    background-image: url(../img/card-10.svg);
  }
  &:nth-of-type(16) .cards__item-images {
    background-image: url(../img/card-16.svg);
  }
  &:nth-of-type(17) .cards__item-images {
    background-image: url(../img/card-17.svg);
  }
  &:nth-of-type(20) .cards__item-images {
    background-image: url(../img/card-20.svg);
  }
}

.cards__item.current {
  .cards__item-number {
    color: #fff;
  }
  .cards__item-winner {
    display: none;
  }
  .top-line,
  .left-line,
  .right-line,
  .bottom-line {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .top-line,
  .left-line,
  .right-line,
  .bottom-line {
    background-color: #fff;
    position: absolute;
    z-index: 3;
  }
  .left-line {
    left: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
  }
  .right-line {
    right: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
  }
  .bottom-line {
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .top-line {
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    .top-line,
    .left-line,
    .right-line,
    .bottom-line {
      opacity: 1;
    }
  }
  .cards__item-content {
    background: linear-gradient(191.76deg, #f7a400 22.17%, #e8336e 83.09%);
  }

  &:nth-of-type(2) .cards__item-images {
    background-image: url(../img/card-2-3.svg);
  }
  &:nth-of-type(3) .cards__item-images {
    background-image: url(../img/card-3-3.svg);
  }
  &:nth-of-type(5) .cards__item-images {
    background-image: url(../img/card-5-3.svg);
  }
  &:nth-of-type(6) .cards__item-images {
    background-image: url(../img/card-6-3.svg);
  }
  &:nth-of-type(7) .cards__item-images {
    background-image: url(../img/card-7-3.svg);
  }
  &:nth-of-type(8) .cards__item-images {
    background-image: url(../img/card-8-3.svg);
  }
  &:nth-of-type(9) .cards__item-images {
    background-image: url(../img/card-9-3.svg);
  }
  &:nth-of-type(10) .cards__item-images {
    background-image: url(../img/card-10-3.svg);
  }
  &:nth-of-type(11) .cards__item-images {
    background-image: url(../img/card-11-3.svg);
  }
  &:nth-of-type(13) .cards__item-images {
    background-image: url(../img/card-13-3.svg);
  }
  &:nth-of-type(14) .cards__item-images {
    background-image: url(../img/card-14-3.svg);
  }
  &:nth-of-type(16) .cards__item-images {
    background-image: url(../img/card-16-3.svg);
  }

  &:nth-of-type(17) .cards__item-images {
    background-image: url(../img/card-17-3.svg);
  }
  &:nth-of-type(19) .cards__item-images {
    background-image: url(../img/card-19-3.svg);
  }
  &:nth-of-type(20) .cards__item-images {
    background-image: url(../img/card-20-3.svg);
  }
  &:nth-of-type(21) .cards__item-images {
    background-image: url(../img/card-21-3.svg);
  }
}

.cards__item-images {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
